In [7]:
# bibliotecas
import json
import csv

In [37]:
# configs

# arquivos
arquivo1 = "../data/raw/dados_empresaA.json"
arquivo2 = "../data/raw/dados_empresaB.csv"
fusao = "../data/processed/dados_combinados.csv"

# listas com dados carregados
empresa_a = []
empresa_b = []
dados_combinados=[]

In [42]:
# ler arquivos

# json empresa A
with open(arquivo1,'r') as f:
    empresa_a = json.load(f)

# csv empresa B
with open(arquivo2, 'r') as f:
    rows = csv.reader(f, delimiter=',')
    for row in rows:
        empresa_b.append(row)

In [11]:
# tipos dos dados
type(empresa_a), type(empresa_b)

(list, list)

In [15]:
# primeiro registro empresa A carregado
empresa_a[0]

{'Nome do Produto': 'Blush em pó',
 'Categoria do Produto': 'Eletrodomésticos',
 'Preço do Produto (R$)': 79.41,
 'Quantidade em Estoque': 7,
 'Filial': 'Filial 7'}

In [19]:
# primeiro registro empresa B carregado
empresa_b[0]

['Nome do Item',
 'Classificação do Produto',
 'Valor em Reais (R$)',
 'Quantidade em Estoque',
 'Nome da Loja',
 'Data da Venda']

In [25]:
empresa_b[0] # somente as colunas

['Nome do Item',
 'Classificação do Produto',
 'Valor em Reais (R$)',
 'Quantidade em Estoque',
 'Nome da Loja',
 'Data da Venda']

In [ ]:
empresa_b[1:5] # amostra proximos indices confirma

[['Lápis de sobrancelha',
  'Roupas',
  '55.17',
  '62',
  'Filial 1',
  '2023-04-13 18:58:06.794203'],
 ['Batom matte',
  'Eletrônicos',
  '74.15',
  '48',
  'Filial 9',
  '2023-06-03 18:58:06.794203'],
 ['Corretivo',
  'Roupas',
  '54.86',
  '36',
  'Filial 5',
  '2023-06-08 18:58:06.794203'],
 ['Delineador líquido',
  'Roupas',
  '91.29',
  '1',
  'Filial 8',
  '2023-02-27 18:58:06.794203']]

In [43]:
# refatoracao dados empresa b com dictreader
empresa_b.clear()
print(empresa_b)

with open(arquivo2, 'r') as f:
    rows = csv.DictReader(f, delimiter=',')
    for row in rows:
        empresa_b.append(row)

[]

In [28]:
# tipo empresa b e primeiro registro
type(empresa_b), empresa_b[0]

(list,
 {'Nome do Item': 'Lápis de sobrancelha',
  'Classificação do Produto': 'Roupas',
  'Valor em Reais (R$)': '55.17',
  'Quantidade em Estoque': '62',
  'Nome da Loja': 'Filial 1',
  'Data da Venda': '2023-04-13 18:58:06.794203'})

In [44]:
# padronizar atributos da empresa b
key_mapping = {
    'Nome do Item':             'Nome do Produto',
    'Classificação do Produto': 'Categoria do Produto',
    'Valor em Reais (R$)':      'Preço do Produto (R$)',
    'Quantidade em Estoque':    'Quantidade em Estoque', # mantém
    'Nome da Loja':             'Filial',
    'Data da Venda':            'Data da Venda'          # mantém
}

empresa_b_atributos_padronizados = []

for registro in empresa_b:
    registro_temp = {}

    for k,v in registro.items():
        nome_atributo = key_mapping[k]
        registro_temp[nome_atributo] = v

    empresa_b_atributos_padronizados.append(registro_temp)

empresa_b.clear()
empresa_b = empresa_b_atributos_padronizados

In [30]:

# tipo e primeiro registro
type(empresa_b), empresa_b[0]

(list,
 {'Nome do Produto': 'Lápis de sobrancelha',
  'Categoria do Produto': 'Roupas',
  'Preço do Produto (R$)': '55.17',
  'Quantidade em Estoque': '62',
  'Filial': 'Filial 1',
  'Data da Venda': '2023-04-13 18:58:06.794203'})

In [45]:
# combinando dados
dados_combinados.extend(empresa_a)
dados_combinados.extend(empresa_b)

# type e tamanho e amostras
type(dados_combinados), len(dados_combinados), len(empresa_a) + len(empresa_b), dados_combinados[0], dados_combinados[-1]

(list,
 4446,
 4446,
 {'Nome do Produto': 'Blush em pó',
  'Categoria do Produto': 'Eletrodomésticos',
  'Preço do Produto (R$)': 79.41,
  'Quantidade em Estoque': 7,
  'Filial': 'Filial 7'},
 {'Nome do Produto': 'Sombra de olhos',
  'Categoria do Produto': 'Eletrônicos',
  'Preço do Produto (R$)': '41.73',
  'Quantidade em Estoque': '5',
  'Filial': 'Filial 6',
  'Data da Venda': '2022-11-21 18:58:06.794203'})

In [55]:
# pegar atributos unicos(chaves) de todos os dicionários na lista
headers = list(
            set(key
                for dicionario in dados_combinados for key in dicionario.keys()
            )
        )
headers

['Data da Venda',
 'Categoria do Produto',
 'Quantidade em Estoque',
 'Filial',
 'Nome do Produto',
 'Preço do Produto (R$)']

In [56]:
# persistindo
with open(fusao, 'w', newline='', encoding='utf-8') as f:
    writer = csv.DictWriter(f, fieldnames=headers)
    writer.writeheader()

    for registro in dados_combinados:
        registro_tratado = {chave: registro.get(chave, 'indisponivel') for chave in headers}
        writer.writerow(registro_tratado)
print("Finalizado arquivo combinado da fusão das empresas criado...")

Finalizado arquivo combinado da fusão das empresas criado...

In [3]:
import pandas as pd
df = pd.read_csv('../data/processed/dados_combinados.csv')
df.head()

,Data da Venda,Categoria do Produto,Quantidade em Estoque,Filial,Nome do Produto,Preço do Produto (R$)
0,indisponivel,Eletrodomésticos,7,Filial 7,Blush em pó,79.41
1,indisponivel,Eletrodomésticos,78,Filial 8,Lápis de sobrancelha,85.47
2,indisponivel,Roupas,34,Filial 8,Base líquida,75.02
3,indisponivel,Roupas,90,Filial 10,Base líquida,44.94
4,indisponivel,Alimentos,91,Filial 7,Lápis de sobrancelha,58.63

In [4]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data da Venda          4446 non-null   object
 1   Categoria do Produto   4446 non-null   object
 2   Quantidade em Estoque  4446 non-null   int64
 3   Filial                 4446 non-null   object
 4   Nome do Produto        4446 non-null   object
 5   Preço do Produto (R$)  4446 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 208.5+ KB

(4446, 6)

In [7]:
df[df['Data da Venda']=='indisponivel']

,Data da Venda,Categoria do Produto,Quantidade em Estoque,Filial,Nome do Produto,Preço do Produto (R$)
0,indisponivel,Eletrodomésticos,7,Filial 7,Blush em pó,79.41
1,indisponivel,Eletrodomésticos,78,Filial 8,Lápis de sobrancelha,85.47
2,indisponivel,Roupas,34,Filial 8,Base líquida,75.02
3,indisponivel,Roupas,90,Filial 10,Base líquida,44.94
4,indisponivel,Alimentos,91,Filial 7,Lápis de sobrancelha,58.63
...,...,...,...,...,...,...
3118,indisponivel,Alimentos,5,Filial 2,Lápis de sobrancelha,91.77
3119,indisponivel,Eletrodomésticos,43,Filial 3,Pó compacto,43.46
3120,indisponivel,Roupas,7,Filial 3,Lápis de sobrancelha,63.69
3121,indisponivel,Eletrônicos,55,Filial 3,Lápis de sobrancelha,72.83
3122,indisponivel,Eletrônicos,48,Filial 8,Delineador líquido,64.68